<?xml version="1.0"?>

<!-- static_transform_publisher x y z qx qy qz qw frame_id child_frame_id  period_in_ms -->
<launch>
    <node pkg="tf" type="static_transform_publisher" name="camera2effector_broadcaster" 
          args="0.2 0.0 0.0 0.0 0.0 0.0 1.0 gripper camera_color_optical_frame 100" /> 
    <node pkg="tf" type="static_transform_publisher" name="camera_color_optical2camera_link_broadcaster" 
          args="0.015 0.0 0.01 0.50 -0.501 0.499 0.501 camera_color_optical_frame camera_link 100" />
</launch>
