<?xml version="1.0"?>

<launch>
    <!-- start the Realsense -->
    <group ns="camera">
        <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
            <arg name="enable_color"      value="true"/>
            <arg name="color_width"       value="640" />
            <arg name="color_height"      value="480" />
            <arg name="color_fps"         value="30" />

            <arg name="depth_width"       value="640"/>
            <arg name="depth_height"      value="480"/>
            <arg name="depth_fps"         value="30"/>

            <arg name="enable_infra1"     value="false"/>
            <arg name="enable_infra2"     value="false"/>
            <arg name="enable_fisheye"    value="false"/>
            <arg name="enable_gyro"       value="false"/>
            <arg name="enable_accel"      value="false"/>

            <arg name="tf_prefix"         value="camera" />

            <arg name="enable_depth"      value="true"/>
            <arg name="enable_pointcloud" value="true"/>
            <arg name="enable_sync"       value="true" />
            <arg name="align_depth"       value="true"/>
            <arg name="clip_distance"     value="1.5" />
        </include>
    </group>

    <!-- robot driver -->
    <!-- <node name="mantra_driver" pkg="mantra_driver" type="main" output="screen">
    </node> -->

    <!-- robot model -->
    <include file="$(find mantra_moveit_config)/launch/demo.launch">
      <arg name="use_rviz" value="false" />
    </include>
    
    <!-- publish tf between  camera_color_optical frame and gripper frame-->
    <include file="$(find mantra_application)/calibration/publish_static_tf.launch" />

    <!-- start the gpd -->
    <node name="detect_grasps" pkg="gpd_ros" type="detect_grasps_pointnet" output="screen">
        <!-- What type of point cloud is used and what ROS topic it comes from -->
        <param name="cloud_type" value="0" /> <!-- 0: PointCloud2, 1: CloudIndexed, 2: CloudSamples -->
        <param name="cloud_topic" value="/camera/depth/color/points" />

        <!-- (optional) The ROS topic that the samples come from (default: an empty string) -->
        <param name="samples_topic" value="" />

        <!-- Filepath to the configuration file for GPD -->
        <param name="config_file" value="$(find gpd_ros)/cfg/ros_gpd_pointnet_params.cfg" />

        <!-- Rviz plotting parameters -->
        <param name="rviz_topic" value="grasps_rviz" />
    </node>

    <!-- get the translation between grasp frame and end effector frame -->
    <node name="get_grasps" pkg="gpd_ros" type="get_grasps.py" output="screen" />

    <!-- start the rviz -->
    <node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false" args="-d $(find mantra_application)/launch/mantra_pickup.rviz" output="screen" />

</launch>
