<launch>
    <arg name="marker_size" doc="Size of the ArUco marker used, in meters" default="0.1" />
    <arg name="marker_id" doc="The ID of the ArUco marker used" default="100" />

    <!-- start the Realsense and aruco tracker-->
    <include file="$(find mantra_application)/calibration/launch/aruco_tracker.launch" >
        <arg name="use_rviz" value="false" />
        <arg name="pub_tf" value="True" />
    </include>

    <!-- start the robot-->
    <include file="$(find mantra_application)/launch/mantra_bringup.launch" >
        <arg name="fake" value="false" />
        <arg name="rviz" value="false" />
        <arg name="hmi" value="true" />
    </include>

    <include file="$(find mantra_application)/calibration/launch/publish_static_tf.launch" />

    <!-- start the rviz -->
    <node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false" args="-d $(find mantra_application)/calibration/config/result_show.rviz" output="screen" />

</launch>