<?xml version="1.0"?>

<!-- static_transform_publisher x y z qx qy qz qw frame_id child_frame_id  period_in_ms -->
<launch>
    <!-- NOTE: Realsense rgb camera's tf tree is: camera_link->camera_aligned_depth_to_color_frame->camera_color_optical_frame
    handeye calibration get the tf between flange and camera_color_optical_frame, but we should publish tf between flange and camera_link
    step1: Publish tf from flange to camera_color_optical_frame, so that we could get a complete tf tree, then get the tf from flange to camera_link
       "rosrun tf tf_echo link7 camera_link"
    step2: Just publish the tf from flange to camera_link to ensure tf tree legal-->

    <!-- Step1: Publish transform from flange to camera_color_optical_frame -->
    <node pkg="tf" type="static_transform_publisher" name="flange2camera_broadcaster"
          args="-0.0178174223412 -0.0875652925196 -0.0289355253721 -0.00335992414847 -0.0114037802669 -0.00569527348658 0.999913110508 ee_link camera_color_optical_frame 10" /> 
    
    <!-- Step2: Publish transform from flange to camera_link -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="flange2camera_broadcaster"
          args="0.030, 0.091, -0.017 0.500, 0.496, 0.507, -0.498 link7 camera_link 10" />  -->
</launch>

<!-- translation: 
  x: -0.0178174223412
  y: -0.0875652925196
  z: -0.0289355253721
rotation: 
  x: -0.00335992414847
  y: -0.0114037802669
  z: -0.00569527348658
  w: 0.999913110508 -->